body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

cite {
	font-family: 'Shadows Into Light', cursive;
	font-size: 42px;
}

.toolbar {
	padding-left: 30%;
	padding-right: 30%;
}

.icon {
  display: inline-block;
  width: 20%;
}
