body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

cite {
	font-family: 'Shadows Into Light', cursive;
	font-size: 42px;
}

.mediabar {
	text-align: center;
}

.icon {
  display: inline-block;
}

.icon-img {
	max-width: 30px;
}

.essay {
	text-align: center;
}
