body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

p {
	text-align: justify;
	padding-left: 10%;
	padding-right: 10%;

}

cite {
	font-family: 'Shadows Into Light', cursive;
	font-size: 42px;
}

.acerca {
	font-family: 'Shadows Into Light', cursive;
	font-size: 25px;
}

.toolbar {
	padding-left: 20%;
	padding-right: 20%;
}

.img-size {
	width: 200px;
	padding-top: 10px;
}

.icon-item {
	width: 40%;
	margin: 0 auto;
}

/*.ideas {
	font-family: 'Shadows Into Light', cursive;

}*/